/.env
/__pycache__
/law_img
/videos
/video_output.mp4
/weights
/yolov5n.pt
/yolov5s.pt
/yolov5s.wts
/yolov5_deepsort.csv
/yolov5_bytetrack.csv
/torch-1.10.0-cp36-cp36m-linux_aarch64.whl
/buildSteps.txt
/utils
/torchvision
/src
/models
/gen_wts.__pycache__
